@import "./mixins.scss";

.playlist-entry {
  padding: 50px 0;
  max-width: 400px;
  text-align: center;
}

.playlist-entry > form {
  max-width: 500px;
  margin: auto;
}

.playlist-entry > form > input {
  margin-bottom: 10px;
}

.playlist-entry__checkbox-container {
  display: block;
  margin-bottom: 10px;
}

.error-message {
  margin-top: 10px;
}


@include atMobile {
}
