@import "./mixins.scss";

.results-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.results-screen__cards-wrapper {
  margin: 50px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

@include atMobile {
  .results-screen__cards-wrapper {
    grid-template-columns: auto;
  }
}
