.results-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin: auto;
  margin-top: 100px;
}

.results-screen > h1 {
  text-align: center;
}

.results-screen__cards-wrapper {
  margin: 50px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
